.secret-message{
    display:none;
}
.minion-2-pic{
    display:none;
}
.minion-3-pic{
    display:none;
}
.minion-4-pic{
    display:none;
}
.not-secret-message{
    display:none;
}
.still-secret-message{
    display:none;
}
.im-not-secret-message{
    display:none;
}
